body {
  margin: 0 auto;
  max-width: 50em;
}
.pure-g > div {
  box-sizing: border-box;
}

.changed {
  background-color: hsla(105, 80%, 90%, 0.8);
}

#top {
  height: 3em;
  padding: 1em;
}

#content {
  padding: 1em;
}

#bread > div {
  display: inline;
}

.painting-view {
  border-right: 1em solid transparent;
}
.painting-view.new-painting {
  border-right: 1em solid hsla(91, 100%, 37%, 0.43);
}

.painting-view textarea {
  vertical-align: top;
  width: 100%;
  height: 4em;
}

.painting-view input[type="text"] {
  width: 100%;
}

.painting-view img {
  width: 100%;
}

.painting-view img.handle {
  cursor: -webkit-grab;
  cursor: grab;
}

#testing-interface .output {
  min-height: 10em;
  margin-top: 1em;
  font-family: monospace;
  background-color: hsla(0, 0%, 50%, 0.2);
}

button.pure-button {
  margin-right: 1em;
}

form {
  margin: 1em 0;
}

input[type=checkbox] {
  margin: 0.5em;
}

textarea {
  vertical-align: top;
  width: 100%;
}
textarea.short-text-area {
  height: 5em;
}
textarea.long-text-area {
  margin: 1em 0;
  height: 20em;
}

#images div {
  float: left;
  margin: 0.5em;
}
#images img {
  vertical-align: middle;
  max-height: 2em;
  margin-left: 0.25em;
}

.interpreted img.header-image {
  width: 100%;
}

article img {
  width: 60%;
}
