/* font size scale:
 *  http://www.modularscale.com/?14,13&px&1.25&web&text */

html {
 /* background-image: url(http://basehold.it/i/24/255/0/0); */
  margin: 0 auto;
}

@media (max-width: 35.5em) { html { width: 20em; } }
@media (min-width: 35.5em) { html { width: 35.5em; } }
@media (min-width: 48em) { html { width: 48em; } }
@media (min-width: 64em) { html { width: 64em; } }

@media (min-width: 64em) {
  #header, #main {
    padding-right: 2em;
  }
}

.pure-g > * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#header, #main > *, #sidebar, #footer {
  font-family: 'Lato', sans-serif;
  color: hsl(0, 0%, 26%);
}

#main {
  margin-bottom: 3em;
}

#header {
  margin: 2.7em 0;
  margin: 0;
}

#header #logo {
  display: block;
  margin: 0 auto;
  height: 15em;
  display: none;
}

#header #logo-fox-box {
  width: 22em;
  height: 24em;
  background: url(/images/passant-fox-2.svg);
  margin: 0 auto;
  padding-right: 3em;
}

article {
  text-align: center;
}

body { font-size: 14px; }
h3 { font-size: 1.25em; }
h2 { font-size: 1.563em; }
h1 { font-size: 1.953em; }
article .tag { font-size: 0.8em }
article > time { font-size: 0.8em }

/* second scale sizes */
#sidebar { font-size: 0.929em; }
#footer, .boxy-inline { font-size: 0.743em; }
/*****************************/

/* headers */
h1, h2, h2 {
  color: black;
  font-weight: 400;
  font-family: 'Playfair Display', serif;
  margin: 0.5em 0;
}
/*****************************/

a {
  text-decoration: none;
  color: hsl(32, 42%, 61%);
}

/* small article paddings: */
@media (min-width: 35.5em) {
  /* left article */
  article:nth-child(2n+2) {
    padding-right: 1em;
  }
  /* right article */
  article:nth-child(2n+3) {
    padding-left: 1em;
  }
}

article img.header-image {
  width: 100%;
  margin-top: 1em;
}

article .tag {
  display: inline-block;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border-bottom: 0.1em solid;
  border-color: hsl(32, 42%, 61%);
  padding-bottom: 0.1em;
}
article .content {
  text-align: left;
}
article .content img {
  width: 70%;
}

article > time {
  font-style: italic;
  color: hsl(0, 0%, 53%);
}

.boxy-inline {
  font-family: "Lato";
  font-weight: 700;
  border: 1px solid;
  border-color: hsl(32, 42%, 61%);
  color: black;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  padding: 0.9em 2.2em 1em;
  transition: .2s;
 }
#main .boxy-inline {
  display: inline-block;
}
a.boxy-inline:hover {
  background: hsl(32, 42%, 61%);
  color: hsl(0, 100%, 100%);
  border-color: hsl(32, 42%, 61%);
}

article#latest-post {
  margin-bottom: 1em;
}

#footer {
  font-style: italic;
  color: hsl(0, 0%, 53%);
  margin: 2em 0 2em;
}
